// main: styles.scss

.devstory {
	font-family: 'Courier';
	background-color: black;
<<<<<<< HEAD
	background-image: url('../img/devstory.svg');
=======
	background-image: url('img/devstory.svg');
>>>>>>> ca8bea3ed07371161f142c8e0b7966c8c4f23bd2
	background-size: 110%;
	background-position: -2em;
	color: $color-back-1;
}
.devstory__logo {
	font-size: 2em;
	opacity: .7;
	line-height: 1;
}
.devstory__title,
.devstory__subtitle {
	color: $color-back-1;
	font-weight: normal;
	text-align: center;
}
.devstory__title {
	margin-top: 1em;
}
@include media($break-xs) {
	.devstory__title {
		font-size: 1.3em;
	}
}
@include media($break-md) {
	.devstory__title {
		font-size: 1.8em;
	}
}
.devstory__subtitle {
	font-size: 1em;
}

@include media($break-xs) {
	.devstory__subtitle {
		font-size: 1em;
	}
}
@include media($break-md) {
	.devstory__subtitle {
		font-size: 1.2em;
	}
}
