// main: styles.scss

.sample-details {
	width: 100vw;
	height: 100vh;
	overflow: scroll;
	color: $color-back-1;
}

.novel-details {
	background-color: $color-brand-1;
}

.bowplease-details {
	background-color: $color-brand-2;
}
