// main: styles.scss

.theme-dark {
	background-color: hsl(0,0,10);
}
.theme-dark .image-box {
	opacity: .1;
}


.theme-brand-1 {
	background-color: $color-brand-1;
}
.theme-brand-1 .intro-text {
	color: $color-text-2;
}
.theme-brand-1 .cta-box,
.theme-brand-1 .bowplease {
	opacity: .5;
}


.theme-brand-2 {
	background-color: $color-brand-2;
}
.theme-brand-2 .intro-text {
	color: $color-text-2;
}
.theme-brand-2 .cta-box,
.theme-brand-2 .novel {
	opacity: .5;
}
