{{ partial "header.html" }}
	<header class="flex-center-col">
		<h1 class="header link" onclick="openAbout()">Mike Cornish</h1>
		<h2 class="subheader">Frontend Developer</h2>
		<h3 class="intro-text">Tell Your Story</h3>
	</header>
	<div class="devstory cta-box">
		<header>
			<h1 class="devstory__logo">devStory|</h1>
			<h2 class="devstory__title"><span class="color-brand-1">Chapter 1</span> The Phantom Dream</h2>
			<h3 class="devstory__subtitle">The Role of <span class="color-brand-2">Ambition</span> in Web Development</h3>
		</header>
		<a class="cta">Explore My Story</a>
	</div>
	<header>
		<h3>Excercise Creativity</h3>
	</header>
	<div class="novel image-box">
		<img src="" />
	</div>
	<div class="bowplease image-box">
		<img src="" />
		<img src="" />
	</div>
	<header>
		<h3>Solve Problems</h3>
	</header>
	<div class="contact cta-box">
		<header>
			<h1>Have a problem?</h1>
		</header>
		<p>
			Let's solve it together. I can build you a website, help you create a web app, or just give you some advice. Send me an email and we can talk.
		</p>
		<a class="cta">cornishmw@gmail.com</a>
	</div>
{{ partial "footer.html" }}
