{{ partial "header.html" }}
	<div class="out-left">
		<div class="out-right">
			<div class="out-bot">
				<header class="flex-center-col">
					<h1 class="header link js-about-button">Mike Cornish</h1>
					<h2 class="subheader">Frontend Developer</h2>
					<div class="social-links">
						<a href="https://twitter.com/MikeWCornish" target="_blank"><i class="fa fa-twitter"></i></a>
						<a href="http://codepen.io/mCornish/" target="_blank"><i class="fa fa-codepen"></i></a>
						<a href="https://github.com/mCornish" target="_blank"><i class="fa fa-github"></i></a>
					</div>
					<h3 class="intro-text">Tell Your Story</h3>
				</header>
				<div class="devstory cta-box hover-lift" data-hook="theme-change" data-theme="dark">
					<header>
						<h1 class="devstory__logo">devStory|</h1>
						<h2 class="devstory__title"><span class="color-brand-1">Chapter 1</span> The Phantom Dream</h2>
						<h3 class="devstory__subtitle">The Role of <span class="color-brand-2">Ambition</span> in Web Development</h3>
					</header>
					<a class="cta" href="http://www.devstory.mikecornish.net/posts/chapter-1/" target="_blank">Explore My Story</a>
				</div>
				<header>
					<h3 class="intro-text">Excercise Creativity</h3>
				</header>
				<div class="flex-between">
					<div class="novel image-box hover-lift js-novel" data-hook="theme-change" data-theme="brand-1">
						<img class="novel__image" src="img/novel.svg" />
						<img class="novel__image-hover" src="img/novel-hover.svg" />
					</div>
					<div class="bowplease image-box hover-lift js-bowplease" data-hook="theme-change" data-theme="brand-2">
						<img class="bowplease__image-1" src="img/bowplease-2.svg" />
						<img class="bowplease__image-2" src="img/bowplease-1.svg" />
					</div>
				</div>
				<header>
					<h3 class="intro-text">Solve Problems</h3>
				</header>
				<div class="contact cta-box hover-lift">
					<header>
						<h1 class="contact__header">Have a problem?</h1>
					</header>
					<p>
						<span class="color-brand-1">Let's solve it together.</span> I can build you a website, help you create a web app, or just give you some advice. <span class="color-brand-2">Send me an email</span> and we can talk.
					</p>
					<a class="cta" href="mailto:cornishmw@gmail.com">cornishmw@gmail.com</a>
				</div>
			</div>
		</div>
	</div>

	{{ partial "about.html" }}
	{{ partial "novel.html" }}
	{{ partial "bowplease.html" }}
{{ partial "footer.html" }}
