<main>
	<header>
		<h1 class="link" onclick="openAbout()">Michael Cornish</h1>
		<h2>Frontend Developer</h2>
		<h3>Tell Your Story</h3>
	</header>
	<div class="cta-box">
		<header>
			<h1 class="devstory">devStory|</h1>
			<h2 class="devstory">Chapter 1 The Phantom Dream</h2>
			<h3 class="devstory">The Role of Ambition in Web Developer</h3>
		</header>
		<a class="cta">Explore My Story</a>
	</div>
	<header>
		<h3>Excercise Creativity</h3>
	</header>
	<div class="novel image-box">
		<img src="" />
	</div>
	<div class="bowplease image-box">
		<img src="" />
		<img src="" />
	</div>
</main>
