<div class="about in-top js-about">
	<div class="close-button js-close">x</div>
	<div class="content-wrapper">
		<div class="image-wrapper">
			<img src="/img/mike.jpg" width="768" height="425" />
		<div class="container">
			<div class="text-wrapper">
				<h1 class="text-center">I Solve Problems</h1>

				<p>
					Are you having trouble converting page views into customers? Do you want to connect with your audience? Just need a great website? I'll help you find solutions to all of your web-related problems.
				</p>

				<p>
					I've been creating websites since 2010, when I turned a simple blog into a profitable business in a little over a year. I understand that you don't just want a nice-looking website; you want results. I don't just use my creativity for flare; I use it to create a custom solution for your specific situation.
				</p>

				<p>
					Some of my most notable accomplishments include working on a Best in Show award-winning website, writing two novels, playing a self-written piano piece before an audience of strangers, interviewing a chart-topping musician, and writing hundreds of blog posts over the past five years.
				</p>

				<p>
					Want to solve problems together? Email me at:
				</p>

				<p class="text-center">
					<a class="cta about__cta" href="mailto:cornishmw@gmail.com">cornishmw@gmail.com</a>
				</p>
			</div>
		</div>
	</div>
</div>
