<div class="about in-top js-about">
	<div class="close-button js-close">x</div>
	<div class="about__content">
		<div class="about__image">
			<img src="/img/mike.jpg" width="768" height="425" />
		</div>
		<div class="container">
			<div class="about__text">
				<h1>I'm a Problem Solver</h1>

				<p>
					Some of my most notable accomplishments include working on a Best in Show award-winning website, writing two novels, playing a self-written piano piece before an audience of strangers, interviewing a chart-topping musician, and writing hundreds of blog posts over the past five years.
				</p>

				<p>
					Some of my most notable accomplishments include working on a Best in Show award-winning website, writing two novels, playing a self-written piano piece before an audience of strangers, interviewing a chart-topping musician, and writing hundreds of blog posts over the past five years.
				</p>
			</div>
		</div>
	</div>
</div>
