<div class="bowplease-details sample-details in-right js-bowplease-details">
	<div class="close-button js-close">x</div>
	<div class="content-wrapper">
		<div class="image-wrapper" target="_blank">
			<a href="http://story.mikecornish.net" target="_blank">
				<img class="novel__hero" src="/img/bowplease-expanded.png" width="1507" height="691" />
			</a>
		</div>
		<div class="container">
			<div class="text-wrapper">
				<h1 class="text-center">BowPlease App</h1>
				<p>
					In 2014,
				</p>
				<p>
					The
				</p>
				<p>
					Ultimately,
				</p>
				<p class="text-center">
					<a class="cta cta--color-flip" href="http://bowplease.com" target="_blank">Take a look</a>
				</p>
			</div>
		</div>
	</div>
</div>
