<div class="bowplease-details sample-details in-right js-bowplease-details">
	<div class="close-button js-close">x</div>
	<div class="content-wrapper">
		<div class="image-wrapper" target="_blank">
			<a href="http://bowplease.com" target="_blank">
				<img class="novel__hero" src="img/bowplease-expanded.png" width="1507" height="691" />
			</a>
		</div>
		<div class="container">
			<div class="text-wrapper">
				<h1 class="text-center">BowPlease App</h1>
				<p class="text-center">
					This app is a work in progress. Stay tuned for details!
				</p>
			</div>
		</div>
	</div>
</div>
