<div class="novel-details sample-details in-left js-novel-details">
	<div class="close-button js-close">x</div>
	<div class="content-wrapper">
		<div class="image-wrapper" target="_blank">
			<a href="http://story.mikecornish.net" target="_blank">
				<img class="novel__hero" src="/img/novel-expanded.png" width="1507" height="691" />
			</a>
		</div>
		<div class="container">
			<div class="text-wrapper">
				<h1 class="text-center">Novel Promotional Website</h1>
				<p>
					In 2014, I finished the first draft of my second novel, <em>World Without Humanity</em>. At the time, I was also getting aquainted with AngularJS, so I thought it would be a great learning experience to use Angular to create a promotional website for my novel.
				</p>
				<p>
					The primary goal was to create interest in my writing, but I also wanted to provide real value to people in the process. To accomplish this, I focused the promotion on a blog that would explore the process of storytelling. The idea was to build an audience around the blog, which would eventually convert to book sales.
				</p>
				<p>
					Ultimately, I didn't have time to actually run the blog. I did, however, finish building the website. I may use it in the future when I get around to editing my novel.
				</p>
				<p class="text-center">
					<a class="cta" href="http://story.mikecornish.net" target="_blank">Take a look</a>
				</p>
			</div>
		</div>
	</div>
</div>
