// main: styles.scss

.about {
	background-color: $color-back-1;
	width: 100vw;
	height: 100vh;
	overflow: scroll;
}

.about__cta {
	color: $color-brand-1;
}
.about__cta:hover {
	color: $color-brand-2;
	background-color: $color-back-1;
}
